<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>CoAP Enpoints</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-refresher (ionRefresh)="refreshEndpoints($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-sliding *ngFor="let endpoint of endpoints">
      <ion-item ion-item text-wrap>
        <div (click)="onClickAction(endpoint)">
          <h2>
            {{endpoint.title}}
          </h2>
          <p>{{endpoint.protocol}}://{{endpoint.host}}:{{endpoint.port}}</p>
          <p>IP: {{endpoint.ipAddress}}</p>
        </div>
        <ion-icon *ngIf="endpoint.favorite" item-end name="star" color="favorite" (click)="toggleFavorite(endpoint)"></ion-icon>
        <ion-icon *ngIf="!endpoint.favorite" item-end name="star-outline" color="light" (click)="toggleFavorite(endpoint)"></ion-icon>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="danger" (click)="showEndpointDeletePromt(endpoint)"><ion-icon name="trash"></ion-icon></button>
        <button ion-button color="secondary" (click)="onEditClick(endpoint)"><ion-icon name="settings"></ion-icon></button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item>

    </ion-item>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab (click)="onClickCreateEndpoint()"><ion-icon name="create"></ion-icon></button>
  </ion-fab>
</ion-content>
