<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding #pageTop>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label stacked>Action</ion-label>
          <ion-select [(ngModel)]="selectedAction">
            <ion-option value="{{action}}" *ngFor="let action of actions">{{action}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-auto>
        <ion-item no-lines>
          <ion-label>CONs</ion-label>
          <ion-checkbox [(ngModel)]="endpoint.options.useCons"></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col col-auto>
        <ion-item no-lines>
          <ion-label>Accept</ion-label>
          <ion-checkbox [(ngModel)]="endpoint.options.useAccept"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="endpoint.options.useAccept">
      <ion-col>
        <ion-item>
          <ion-label stacked>Accept Type</ion-label>
          <ion-select [(ngModel)]="endpoint.options.accept">
            <ion-option value="{{accept.value}}" *ngFor="let accept of accepts">{{accept.value}} ({{accept.code}})</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label stacked>Path</ion-label>
          <ion-input type="text" placeholder="/sensor/temperature" [(ngModel)]="endpoint.options.path"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label stacked>Query</ion-label>
          <ion-input type="text" placeholder="temperature=10&age=2" [(ngModel)]="endpoint.options.query"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label stacked>Payload</ion-label>
          <ion-textarea [(ngModel)]="endpoint.options.payload" rows="5"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list radio-group *ngIf="resources.length > 0">
          <ion-list-header>
            Resources
            <button ion-button item-end clear item-end color="danger" (click)="clearResources()">Close</button>
          </ion-list-header>
          <ion-item *ngFor="let resource of resources" text-wrap>
            <ion-label>{{decodePath(resource.uri)}} <p ion-text color="grey">{{JSON.stringify(resource.attributes)}}</p></ion-label>
            <ion-radio checked="false" [value]="resource" (ionSelect)="setResource(resource.uri)" ></ion-radio>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab right bottom>
    <button ion-fab (click)="coapAction()"><ion-icon name="play"></ion-icon></button>
  </ion-fab>

</ion-content>
